body {
    font-family: Arial;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 5px 0;
}

button {
    margin-top: 5px;
    padding: 5px;
}