body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

input[type="text"], button {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: pink;
}
